%container-response {
  position: relative;
  max-width: 370px;
  height: 210px;
  // border: 1px solid black;
  margin: 40px auto;
  padding: 30px;
  box-sizing: border-box;
  background-color: $gray-200;
}

%container-response-after:after {
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 0px 1px 1px 0px solid #1f1f1f;
  top: 100%;
  left: 15%;
  margin-left: -10px;
  transform: rotate(45deg);
  margin-top: -10px;
   background-color: $gray-200;
}
